@media (min-width:800px){
.project-box {
    display: flex;
    margin-bottom: 3rem;
}

.project-box__image-container {
    box-sizing: border-box;
    height: 55vh;
    flex: 0 0 30%;
    margin-right: 1rem;
    margin-left: 4vw;
}

.project-box__image {
    width: 100%;
    height: 100%;
}

.project-box__content {
    height: 55vh;
    flex: 1;
    margin-right: 4vw;
}

.project-box__title {
    margin: 0 0 1rem;
}

.project-box__description {
    margin-bottom: 1rem;
    text-transform: capitalize !important;
}

.project-box__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-box__link {
    width: 14vw;
    text-align: center;
    margin: 1.5rem 2rem 0rem 0rem;
    text-decoration: none;
    color: #000;
    background-color: skyblue;
    border: 0.2vw solid black;
    border-radius: 1vw;
    font-size: 1.2vw;
    font-weight: 600;
    padding: 0.6vw;
}

.project-box__link:hover {
    background-color: black;
    color: red;
    border-radius: 2rem;
    transition-duration: 250ms;
    transition-timing-function: linear;
    transition-property: border-radius;
}
}

@media (max-width:799px){
    .project-box {
        display: flex;
        flex-direction: column;
    }
    
    .project-box__image-container {
        height: 37vh;
        display: flex;
        justify-content: center;
    }
    
    .project-box__image {
        width: 70%;
        height: 100%;
        
    }
    
    .project-box__content {
        height: 42vh;
        margin-right: 6vw;
        margin-left: 6vw;
    }
    
    .project-box__title {
        text-align: center;
        font-weight: 700;
        margin: 1vw 0vw 3vw !important;
    }
    
    .project-box__description {
        height: 25vh;
        font-size: 3vw !important;
        text-transform: capitalize !important;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 0px !important;
    }
    
    .project-box__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .project-box__link {
        width: 14vw;
        text-align: center;
        margin: 0rem 2rem 0rem 0rem;
        text-decoration: none;
        color: #000;
        background-color: skyblue;
        border: 0.2vw solid black;
        border-radius: 1vw;
        font-size: 4vw;
        font-weight: 600;
        padding: 0.6vw;
    }
    
    .project-box__link:hover {
        background-color: black;
        color: red;
        border-radius: 2rem;
        transition-duration: 250ms;
        transition-timing-function: linear;
        transition-property: border-radius;
    }
    }